input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}
input:focus{
  outline: none;
}
body {
  height: 90vh;
  margin: 0;
  padding: 0;
  font-family: Arial;
  background-color: #1A5D1A99;
  color: white;
}
input{
  text-align: center;
  padding: 5px 0;
}
#title {
  text-align: center;
  padding: 20px 0;
  margin-top: 50px;
  font: 700 25px Arial;
}
.container {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10%;
}
#rgbToHex, #hexToRgb  {
  flex-direction: column;
  gap: 2%;
  padding: 50px 2%;
  margin: 50px 0;
  background-color: whitesmoke;
  color: #1A5D1A;
  border-radius: 10px;
  font: 700 18px Arial;
}
input, .result {
  border: 1px solid #1A5D1A;
  border-radius: 2px;
}
#hex, #rgb, input::placeholder {
  color: #1A5D1A;
  font: 500 15px Arial;
}
.result {
  padding: 5px;
  width: 93%;
  text-align: center;
}
button {
  font: 700 13px Arial;
  background-color: #1A5D1A;
  color: white;
  border: none;
  border-radius: 5px;
  padding: 5px 20px;
  cursor: pointer;
}
button:hover {
  box-shadow: 1px 1px 10px #1A5D1A99;
}
.reset {
  background-color: white;
  color: #1A5D1A;
  border: 1px solid #1A5D1A;
  padding: 4px 25px;
  margin-top: 5px
}


@media (max-width: 450px) {
  #title {
    padding: 5px 0;
    font: 700 20px Arial;
  }

  .container {
    gap: 5%;
  }

  #hex, #rgb, input::placeholder {
    font: 500 12px Arial;
  }

  #rgbToHex, #hexToRgb  {
    padding: 50px 2%;
    font: 700 15px Arial;
  }

  button {
    font: 700 12px Arial;
  }

  input {
    width: 120px;
  }
  
}